
@import url('https://fonts.googleapis.com/earlyaccess/jejugothic.css');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #FFF;
  font-family: 'Jeju Gothic', serif;
}
a {
  text-decoration: none;
}
nav a:link, a:visited {
  color: #FFFFFF;
}
nav a:active {
  color: yellow;
}

/* TEXT SIZE */
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.3em;
}
p {
  font-size: 1.3em;
  line-height: 2.5;
}
li {
  font-size: 1em;
  line-height: 2;
}

/* LAYOUT */
.container {
  width: 100%;
}

/* HEADER */
header {
  width: 100%;
  height: 300px;
  background: url('../images/header.jpg') center no-repeat;
  background-size: cover;
  margin: 0;
}
/* NAVIGATION */
nav {
  height: 50px;
  background: #000000;
}
.main-nav {
  list-style: none;
  margin: 0;
  padding: 10px;
}
.main-nav li {
  display: inline-block;
  color: #FFFFFF;
  font-family: '맑은 고딕', '돋움';
  font-size: 0.8em;
  margin: 5px 15px;
}
/* CONTENT */
section {
  position: relative;
  width: 100%;
  padding: 15px 2% 10px 5%;
}
.container section:nth-child(odd) {
  background-color: #EEEEEE;
}
.page-title {
  position: absolute;
  top: 20px;
  left: 0;
  padding: 30px 50px;
}
.page-title h1 {
  margin-bottom: 30px;
}
.content {
  margin: 80px auto 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 90%;
  padding: 20px;
}
.content ol {
  margin-top: 20px;
}
.sub-titles {
  color: #0094FF;
  font-weight: 600;
}
.photo {
  display: none;
}

/* FOOTER */
footer {
  position: relative;
  width: 100%;
  height: 100px;
  background: #000000;
}
footer p {
  font-family: 'Oleo Script', cursive;
  font-size: 1.5em;
  line-height: 100px;
  color: #FFFFFF;
  text-align: center;
}